.collection {

    background: #165166;
    max-height: 672px;
}

.collection__btn {
    border-radius: 5px;
    background: #54C352;
    padding: 24px 49px;
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 220px;
}
.collection__title{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 82px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 37px;
}
.collection__flex{
    display: flex;
    height: 670px;
    justify-content: space-around;
}
.collection__one{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection__two{
    position: relative;
}

.collection__bcg{
    margin-top: 20px;
    border-radius: 20px;
}
.collection__play {
    position: absolute;
    left: -160px;
    top: 50px;
}

.collection__plants {
    position: absolute;
    left: 40px;
    top:98px;
}