.header {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}

.header__nav {

}

.header__list {
    display: flex;
    gap: 90px;
}



.header__link {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-transform: capitalize;
}

.hader__connect {
    display: flex;
    gap: 40px;
}

.header__connect-item {}

.header__connect-link {}