.header {
    position: absolute;
    right: 0;
    left: 0;
}
.container-header{
    display: flex;
    justify-content: space-between;
}

.header__logo {}

.header__nav {

}

.header__list {
    display: flex;
    gap: 90px;
}

.heder__link {}

.header__link {}

.hader__connect {
    display: flex;
    gap: 40px;
}

.header__connect-item {}

.header__connect-link {}