.info{
    background-color: #165166;
    padding-top: 150px;

}
.info__one {
    position: absolute;
    left: 124px;
    bottom: 106px;
}

.info__two {
    position: absolute;
    border-radius: 50%;
    height: 600px;
    width: 500px;
    z-index: 1;
    left: 404px;
    top: 0;

}

.info__container{
    position: relative;
    display: flex;
    align-items: center;

}
.info__plants{
    width: 583px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.info__title {
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;

}

.info__descr {
    color: #BCB9B9;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 54px;
}

.info__btn {
    border-radius: 5px;
    background: #54C352;
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 24px 44px;
    margin-bottom: 191px;
}